.b1{
    margin-right: 30px;
}
.bone
{
    margin-left: 200px;
}
.d1, .n1
{
    background-color:lightsalmon;
}
.m1
{
    width:200px;
}
.div_lord
{
    margin-left: 100px;;
}
.b1
{
    margin-right: 50px;
}
.b2
{
    margin-right: 100px;;
}