*{
    margin:0px;
    padding:0px;
}
.bone
{
    margin-left: 200px;
}
.d1, .n1
{
    background-color:lightsalmon;
}
.m1
{
    width:200px;
}
.div_lord
{
    margin-left: 100px;;
}
.b1
{
    margin-right: 50px;
}
.div_footer
{
        margin-right: 400px;    
}
.b2
{
    margin-right: 300px;
}